{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/app.css') }}?v={{ random() }}">
{% endblock %}

{% block body %}
	<style>
	</style>

	<div class="product_container">

		{% if add_product is not null %}
			<div>
				<h2 class="title">Ajouter un produit</h2>
				{{ form(add_product) }}
				</div>
			{% endif %}

			<div class="list_products">
				{% for product in products %}
					<a class="product" href="{{ path('product_show', {id: product.id}) }}">
						{% if product.image is not empty %}
							<img class="product_image" src="{{ asset('uploads/' ~ product.image) }}">
						{% endif %}
						<h2 class="product_title">{{ product.name }}</h2>
						<p class="product_price">{{ product.price }}€</p>
						<p class="product_description">{{ product.description }}</p>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endblock %}
