{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}
	- Détails
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<div>
			<h2>{{ product.name }}</h2>
			{% if product.image is not empty %}
				<img src="{{ asset('uploads/' ~ product.image) }}" style="max-width:100px;">
			{% endif %}
			<p>{{ product.description }}</p>
			<p>Prix :
				{{ product.price }}
				€</p>
			{% if app.user %}
				<a href="{{ path('app_basket_add', { id: product.id }) }}" class="btn btn-primary">Ajouter au panier</a>
			{% else %}
				<p>
					<a href="{{ path('app_login') }}">Connectez-vous</a>
					pour ajouter ce produit à votre panier.</p>
			{% endif %}
		</div>

		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
			<a href="{{ path('product_edit', { id: product.id }) }}" class="btn btn-primary">Modifier le produit</a>
			<form method="POST" action="{{ path('product_show', { id: product.id }) }}">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
				<button type="submit" class="btn btn-danger">Supprimer le produit</button>
			</form>
		{% endif %}

	{% endblock %}
