{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/product.css') }}?v={{ random() }}">
{% endblock %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block body %}

	<div class="product">
		<div class="prez">
			<h2>{{ product.name }}</h2>
			{% if product.image is not empty %}
				<img src="{{ asset('uploads/' ~ product.image) }}" style="max-width:500px;">
			{% endif %}
		</div>

		<div class="details">
			<h3>{{ product.description }}</h3>
			<h3>Prix: {{ product.price }}€</h3>
			{% if app.user %}
				<a href="{{ path('app_basket_add', { id: product.id }) }}" class="btn btn-primary">Ajouter au panier</a>
			{% else %}
				<h3>
					<a href="{{ path('app_login') }}">Connectez-vous</a>
					pour ajouter ce produit à votre panier.</h3>
			{% endif %}
		</div>
		<div>
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}
			<a href="{{ path('product_edit', { id: product.id }) }}" class="btn btn-primary">Modifier le produit</a>
			<form method="POST" action="{{ path('product_show', { id: product.id }) }}">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
				<button type="submit" class="btn btn-danger">Supprimer le produit</button>
			</form>
		{% endif %}
		</div>

	{% endblock %}
