{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/basket.css') }}?v={{ random() }}">
{% endblock %}

{% block title %}Votre panier{% endblock %}

{% block body %}
<h1>Votre panier</h1>

{% if basket and basket.basketContents|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix à l'unité</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for content in basket.basketContents %}
                <tr>
                    <td>{{ content.product.name }}</td>
                    <td>{{ content.product.price }} €</td>
                    <td>{{ content.quantity }}</td>
                    <td>{{ content.product.price * content.quantity }} €</td>
                    <td class="btn">
                        <a href="{{ path('app_basket_decrement', { id: content.id }) }}" class="retire">
                            Retirer une unité
                        </a>
                        <a href="{{ path('app_basket_remove', { id: content.id }) }}" class="supp">
                            Supprimer tout
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1><strong>Total du panier : {{ basket.getTotal() }} €</strong></h1>
    <a href="{{ path('app_basket_checkout') }}" class="final">Finaliser la commande</a>
{% else %}
    <p>Votre panier est vide.</p>
{% endif %}
{% endblock %}
